appdirs~=1.4.4
ase~=3.22
cachecontrol[filecache]~=0.12.6
ipywidgets~=7.6
ipywidgets-extended>=1.1.1,<2
nglview~=3.0
optimade~=0.16.4
pandas~=1.3
requests~=2.26
setuptools>=49.4
voila~=0.2.16
widget_periodictable~=3.0
