appdirs~=1.4.4
ase~=3.22
cachecontrol[filecache]~=0.13.1
ipywidgets~=7.7
ipywidgets-extended>=1.1.1,<2,!=1.2.0,!=1.2.1
nglview~=3.1
optimade~=0.25.3
pandas~=2.1
requests~=2.31
setuptools>=49.4
voila~=0.5.5
widget_periodictable~=3.1
