# Requirements set due to AiiDAlab dependencies:
#  urllib3

appdirs~=1.4.4
cachecontrol[filecache]~=0.13.1
ipywidgets~=7.7
ipywidgets-extended>=1.1.1,<2,!=1.2.0,!=1.2.1
nglview>=3.0
optimade~=1.0.0
pandas~=2.1
requests~=2.31
urllib3~=2.0
widget_periodictable~=3.1
